{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
<div class="container mt-3">
	<h1 class="h2 mb-3 font-weight-normal">Register</h1>

	{{ form_start(registrationForm) }}

	<div class="mb-3">
		{{ form_row(registrationForm.email, {
            label: 'Email', 'attr' : { 'class' : 'form-control' }
        }) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password', 'attr' : { 'class' : 'form-control' }
        }) }}
	</div>

	<div class="mb-3">
		{{ form_row(registrationForm.agreeTerms, {
			label: 'Valider les termes', 'attr' : { 'class' : 'form-check-input ms-2'}
			}) }}
	</div>

	<button type="submit" class="btn btn-outline-primary">Register</button>
	{{ form_end(registrationForm) }}
</div>
{% endblock %}
