{% extends 'front/base.html.twig' %}

{% block title %}Nos Marques!
{% endblock %}

{% block body %}

	<div class="container-fluid py-3 bg-light text-center">
		{{ front }}
	</div>

	<div class="container mt-5">
		{% for message in app.flashes('notice') %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		<table class="table table-hover text-center">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Image</th>
				</tr>
			</thead>
			<tbody>
				{% for brand in brands %}
					<tr>
						<td>
							<a href="{{ path('brand_show', { 'id' : brand.id }) }}">
								{{ brand.name }}
							</a>
						</td>
						<td>{{ brand.description }}</td>
						<td><img src="{{ asset('media/'~brand.media) }}" alt="" width="100px"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
