{% extends 'base.html.twig' %}

{% block title %}Formulaire
{% endblock %}

{% block body %}
	<div class="container">
		<div class="my-3">
			<a href="{{ path('main') }}" class="btn btn-outline-primary">
				Accueil
			</a>
			<a href="{{ path('brand_list') }}" class="btn btn-outline-primary">
				Retour à la liste
			</a>
		</div>

		{{ form_start(brandForm) }}
		<div class="mb-3">
			{{ form_label(brandForm.name, 'Nom : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(brandForm.name, {'attr' : {'placeholder' : 'Nom de la marque', 'class' : 'form-control brand-name'} } ) }}
		</div>

		<div class="mb-3">
			{{ form_label(brandForm.description, 'Description : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(brandForm.description, {'attr' : {'placeholder' : 'Description du livre', 'class' : 'form-control brand-description'} } ) }}
		</div>

		<div class="mb-3">
			{{ form_label(brandForm.media, 'Fichier : ', {'label_attr' : { 'class' : 'form-label' } } ) }}
			{{ form_widget(brandForm.media, {'attr' : { 'class' : 'form-control'} } ) }}
		</div>

		{{ form_widget(brandForm.enregistrer, { 'attr' : {'class' : 'btn btn-outline-primary'} } ) }}

		{{ form_end(brandForm) }}
	</div>
	<footer class="footer mt-auto py-3 bg-light text-center">
		{{ admin }}
	</footer>
{% endblock %}
