{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<div class="border p-5">
			<h1>{{ product.name }}</h1>
			<p>{{ product.price }}</p>
			<p>{{ product.stock }}</p>
			<p>{{ product.brand.name }}</p>
			<p>{{ product.brand.description }}</p>
			<p>{{ product.category.name }}</p>
			<p>{{ product.category.description }}</p>
		</div>
	</div>
{% endblock %}
